@{
    ViewData["Title"] = "Thank You";
}

<div class="container">
    <h1>Thank You!</h1>
    <div class="alert alert-success">
        <p>Your message has been received. We'll get back to you shortly.</p>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Homepage</a>
</div>